<app-select>
  <app-select-option value="option 1"></app-select-option>
  <app-select-option value="option 2"></app-select-option>
  <app-select-option value="option 3"></app-select-option>
  <app-select-option value="option 4"></app-select-option>
  <app-select-option value="option 5"></app-select-option>
  <app-select-option value="option 6"></app-select-option>
  <app-select-option value="option 7"></app-select-option>
  <app-select-option value="option 8"></app-select-option>
  <app-select-option value="option 9"></app-select-option>
  <app-select-option value="option 10"></app-select-option>
</app-select>
